body{
    color:white !important;
}
.description{
    font-size:1.4em;
}
#stars{
    color:red !important;
}
#favorite{
    color:red !important;
    cursor: pointer;
}
#mylist{
    color:red !important;
    cursor: pointer;
}
.full{
    margin-top: 125px;
    width: 100%;
    text-align: center;
}
.full a{
    color:red !important;
}
.full a:hover{
    color:red !important;
}
.full a:visited{
    color:red !important;
}
.play{
    font-size: 150px;
    text-align: center;
}
.play:hover{
    font-size: 170px;
    text-shadow: 2px 2px 10px white;
}
.bgwide{
    background-size: cover;
    background-repeat: no-repeat;
    height:400px;
}

.modal-content{
    color:black !important;
}
.modal-body{
	min-height:250px;
}
#commento{
	min-height:200px;
    width:100%;
}
.rightText{
	float:right;
	font-size:0.8em;
}
.qinfo{
    margin-right:5px;
    padding-left:5px;
    padding-right:5px;
    border:solid;
    border-width:1px;
    font-style: italic;
}
.qgood{
    color:red;
}
.qbad{
    color:yellow;
}
