#eventi-form{
	display:none;
}


#fedsecret{
	color:black;
	background-color:black;
}
#fedsecret:hover{
	background-color: white;
}

#enableUpdate{
	display:none;
	vertical-align: middle;
	margin-top:8px;
}
